@import url(../styles/global.css);
/* Está importando o reset.css para aplicar aqui */

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    /* Para colocar a imagem da planta na lateral, é necessário o display flex primeiro */
}

section {
    width: 49.2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--black);

}

.form-container > p {
    /* usei o ">" para dizer que o p pentence form-container */
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    margin-top: 22px;
    /* O margin empurra */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* gap espaça igualmente os objetos */
    margin-top: 60px;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.checkbox {
    flex-direction: row;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}

.checkbox > label {
    font-size: 9px;
}

form button {
    height: 35.4px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    font-style: normal;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

img {
    object-fit: cover;
    width: 50.8%;
}

/* #oi{} seletor de id, .oi{} seletor de classe, e oi{} seletor de tag */

label {
    font-size: 14px;
    font-weight: 500;
    color: var(--black);
}

input[type="password"], input[type="email"] {
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 8.5px 10px;
}

input::placeholder {
    font-size: 10px;
    font-weight: 500;
    color: var(--gray);
}

a {
    font-size: 10px;
    font-weight: 500;
    color: var(--blue);
}

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 34px;
    gap: 4.5px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--border-gray);
}

.divider > p {
    font-size: 9px;
    color: var(--black);
    font-weight: 500;
}

.sso-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-top: 89px;
}

.sso-container img {
    width: 24px;
    height: 24px;
}

.sso-container button {
    height: 32px;
    gap: 10px;
    padding: 4px 24px;
    border: 1px solid var(--border-gray);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.redirect-sign-up {
    font-size: 14px !important;
    color: var(--black);
    justify-self: center;
}

.redirect-sign-up a {
    font-size: 14px;
    color: var(--blue);
}